* {
  box-sizing: border-box;
}

a {
  color: $secondary;

  &:hover {
    color: $active;
  }
}

body {
  background: #fff;
  color: $primary;
}

.page-header {
  margin-top: 20px;
  margin-bottom: 50px;
}

.main-btn {
  margin-bottom: 20px !important;
}

.form-group {
  margin-bottom: 20px;
}